body{
    font-family: 'Bebas Neue', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
}
h1{
    font-size: 50px;
}
#border{
    margin-left: 120px;
    margin-top: 120px;
    border-left: 5px solid blue;
    border-radius: 5px;
}
h1{
    margin: 10px;
}
.color{
    color: rgb(107, 205, 50);
}
#change-color{
    color: rgb(236, 83, 12);
}
.change-margin{
    margin-left: 120px;
    
}
#decoration{
    text-decoration: none;
    color: white;
    border: 2px solid red;
    padding: 10px;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: tomato;
    border-radius: 10px;
    margin: 120px ;
}
section{
    display: flex;
    margin-bottom: 100px;
}
#top-margin{
    margin-top: 50px;
}
#margine{
    margin-left: 200px;
}
.coloring{
    color: salmon;
    
}
#align{
    color: navy;
    text-align: center;
    margin-bottom: 150px;
}
#mission{
    background-color: rgb(248, 224, 245);
    border: 3px solid;
    width: 20%;
    padding: 100px;
    height: 200px;
    margin-left: 100px;
    border-radius: 25px;
    color: rgb(19, 2, 18);
    
}
#vission{
    background-color: rgb(227, 244, 248);
    border: 2px solid ;
    width: 20% ;
    padding: 100px;
    height: 200px;
    margin-bottom: 90px;
    margin-left: 100px;
    border-radius: 25px;
}
#goal{
    background-color: rgb(204, 238, 201);
    border: 2px solid ;
    width: 20%;
    height: 80%;
    padding: 100px;
    height: 200px;
    margin-left: 100px;
    border-radius: 25px;
}
#margin-left{
    margin-left: 100px;
}
#left-margiin{
    margin-left: 200px;
}
#bordaring{
    border: 1px solid tomato;
    background-color: rgb(255, 81, 0);
    width: 35%;
    padding: 25px;
    padding-left: 50px;
    color: whitesmoke;
}
#border-coloring{
        border: 1px solid red;
        background-color: red;
        color: rgb(227, 244, 248);
        width: 30%;
        padding: 25px;
        padding-left: 100px;
}
.text-photo{
    margin: 5%;
}
#photo-left{
    margin-right: 200px;
}

#shape{
    background-image: url(image/Untitled.j[g.png);
    background-repeat: no-repeat;

}
#style{
    background-image: url(image/best.jpg);
}
#first-shape{
    background-image: url(image/tuku.png);
    background-repeat: no-repeat;
    
}
#color-head{
    color: rgb(236, 16, 199);
}
#another-color{
    color: rgb(218, 155, 38);
}
#center-aling{
    text-align: center;
    margin-bottom: 60px;
}
#colors{
    color: rgb(248, 139, 14);
}
#paper-color{
    color: rgb(228, 56, 142);
}
#color-heading{
    color: rgb(233, 133, 158);
}
.left-side{
    margin-left: 300px;
    margin-bottom: 100px;
}
#color-box{
    border: 1px solid red;
    background-color: red;
    color: rgb(227, 244, 248);
    width: 30%;
    padding: 25px;
    padding-left: 100px;
    margin-bottom: 200px;
}
#colored{
    color: turquoise;
}
.center{
    text-align: center;
    
    background-color: black;
    height: 200px;
}
.one-color{
    color: white;
}